In [2]:
import pandas as pd
import numpy as np
import seaborn as sns

In [3]:
np.__version__

'2.1.0'

In [4]:
pd.__version__

'2.2.2'

Make a data frame from a dictionary with 5 floats, feature is key and labels is the val

In [9]:
df=pd.DataFrame({
    'feature' : [1,2,3,4,5],
    'labels' : [0, 2, 2, 1, 0]
})

df

   feature  labels
0        1       0
1        2       2
2        3       2
3        4       1
4        5       0

Rename from labels to label

In [11]:
df = df.rename(columns={'labels': 'label'})
df
#could have done df.columns={} list of cols

   feature  label
0        1      0
1        2      2
2        3      2
3        4      1
4        5      0

In [ ]:
Import iris data and sort

In [12]:
iris=sns.load_dataset('iris')
iris.sort_values('species',ascending=False)

     sepal_length  sepal_width  petal_length  petal_width    species
149           5.9          3.0           5.1          1.8  virginica
111           6.4          2.7           5.3          1.9  virginica
122           7.7          2.8           6.7          2.0  virginica
121           5.6          2.8           4.9          2.0  virginica
120           6.9          3.2           5.7          2.3  virginica
..            ...          ...           ...          ...        ...
31            5.4          3.4           1.5          0.4     setosa
30            4.8          3.1           1.6          0.2     setosa
29            4.7          3.2           1.6          0.2     setosa
28            5.2          3.4           1.4          0.2     setosa
0             5.1          3.5           1.4          0.2     setosa

[150 rows x 5 columns]

Use value_counts() on iris

In [17]:
iris.value_counts("species").to_frame('n')
#Don't need to call .to_frame() as a method chain, but it returns a dataframe rather than a series if we need it
#Series is a single value data frame, so no column name

             n
species
setosa      50
versicolor  50
virginica   50

In [ ]:
Show records where petal_length <= 1.4 or length >= 1.6

In [20]:
len(iris.loc[(iris['petal_length'] >= 1.6) | (iris['petal_length'] <= 1.4)])

137

In [21]:
#But I forgot I was supposed to be using boolean indexing, so if you are reading this later Sarah here's the other way to do it
len(iris[(iris.petal_length >= 1.6) | (iris.petal_length <= 1.4)])

137

In [22]:
iris[(iris.petal_length >= 1.6) | (iris.petal_length <= 1.4)].shape[0]
#3rd way

137

Use .apply() to append a new column with min between length and width for each line

In [23]:
min_petal = lambda rowa, rowb : min(rowa, rowb)
iris["min_petal"]=iris.apply(lambda x:min(x.petal_length, x.petal_width), axis=1)

In [24]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species  min_petal
0           5.1          3.5           1.4          0.2  setosa        0.2
1           4.9          3.0           1.4          0.2  setosa        0.2
2           4.7          3.2           1.3          0.2  setosa        0.2
3           4.6          3.1           1.5          0.2  setosa        0.2
4           5.0          3.6           1.4          0.2  setosa        0.2

In [25]:
iris.tail()

,sepal_length,sepal_width,petal_length,petal_width,species,min_petal
145,6.7,3.0,5.2,2.3,virginica,2.3
146,6.3,2.5,5.0,1.9,virginica,1.9
147,6.5,3.0,5.2,2.0,virginica,2.0
148,6.2,3.4,5.4,2.3,virginica,2.3
149,5.9,3.0,5.1,1.8,virginica,1.8

In [28]:
#check if it's always the width that is smaller
sum(iris.petal_length <=iris.petal_width)
#yup

0

In [ ]:
Use a pivot table to get median and mean on sepal and petal width grouped by species

In [36]:
pv = pd.pivot_table(iris,values=["sepal_width","petal_width"], columns=[iris.species], aggfunc=["mean", "median"])
#brackets group the colum

In [35]:
pv

species             setosa  versicolor  virginica
petal_width mean     0.246       1.326      2.026
            median   0.200       1.300      2.000
sepal_width mean     3.428       2.770      2.974
            median   3.400       2.800      3.000

In [38]:
pv2 = pd.pivot_table(iris,values=["sepal_width","petal_width"], columns=[iris.species], aggfunc=["mean", "median"]).T

In [39]:
pv2

                   petal_width  sepal_width
       species
mean   setosa            0.246        3.428
       versicolor        1.326        2.770
       virginica         2.026        2.974
median setosa            0.200        3.400
       versicolor        1.300        2.800
       virginica         2.000        3.000

In [43]:
d=pd.DataFrame({'first_name': ['Sal', 'Mitch','Henry'], 'height': [5.7, 5.10, 6.2]})
d.set_index('first_name')
e = pd.DataFrame({'first_name': ['Sal', 'Henry'], 'age': [54,72]})
e.set_index('first_name')

            age
first_name
Sal          54
Henry        72

In [44]:
inner = pd.merge(d, e, on='first_name', how ='inner')
inner

  first_name  height  age
0        Sal     5.7   54
1      Henry     6.2   72

In [58]:
outer=e.join(d,on='first_name',how='outer')
outer
#Couldn't get this one to work

ValueError: You are trying to merge on object and int64 columns for key 'first_name'. If you wish to proceed you should use pd.concat

Make 2 series with some indices that are the same but of different length, and then add them. It is treated like an implicit join

In [50]:
ser=[1,1,2,3,5,8]
serr=pd.Series(ser, copy=False)
vals=serr.values
resh=vals.reshape(2,3)
resh

array([[1, 1, 2],
       [3, 5, 8]])

In [52]:
ser2=pd.Series([1,2,3,4])

In [55]:
s1=pd.Series([1.1,2.2,3.3, 4.4], index=['a', 'b', 'c','d'])
s2=pd.Series([1.1,2.2,3.3, 4.4,5.5], index=['a',  'c','e','f','g'])

In [56]:
s1+s2

a    2.2
b    NaN
c    5.5
d    NaN
e    NaN
f    NaN
g    NaN
dtype: float64